// --------------------------------------------------------------------------------------------------------------- Scope

$cssScope : sidebarJS !default;

@import "partials/icons";

.#{$cssScope}[data-layout="dark"] {

    // ---------------------------------------------------------------------------------------------------------- Config

    $rowColor         : rgb(30, 30, 30);
    $rowColorScoped   : rgb(70, 90, 100);
    $fontColor        : rgb(230, 230, 230);
    $borderColor      : rgb(0, 0, 0);
    $borderStyle      : solid;
    $borderWidth      : 1px;

    // --------------------------------------------------------------------------------------------------------- Imports

    @import "partials/sidebar_toggle";

    // -----------------------------------------------------------------------------------------------------------------

    &[data-position="right"] .sidebar_toggle {
        .part {
            float : left;
        }
    }


    &[data-position="left"] .sidebar_toggle {
        .row {
            display: flex;
            flex-direction: row-reverse;

            .part {
                @include border(0);
                @include border-left();
            }

            .space {
                @include border(0);
            }
        }
    }
}
