// --------------------------------------------------------------------------------------------------------------- Scope

$cssScope : sidebarJS !default;

@import "partials/icons";

.#{$cssScope}[data-layout="bright"] {

    // ---------------------------------------------------------------------------------------------------------- Config

    $rowColor       : rgb(230, 230, 230);
    $rowColorScoped : rgb(170, 210, 230);
    $fontColor      : rgb(30, 30, 30);
    $borderColor    : rgb(130, 130, 130);

    // --------------------------------------------------------------------------------------------------------- Imports

    @import "partials/sidebar_toggle";

    // -----------------------------------------------------------------------------------------------------------------

    &[data-position="right"] .sidebar_toggle {
        .list .item .row .part {
            float : left;
        }
    }

    // @todo - CSS display flex no floating

    &[data-position="left"] .sidebar_toggle {
        .list .item .row .part {
            float : right;
        }
    }
}
