// --------------------------------------------------------------------------------------------------------------- Scope

$cssScope : sidebarJS !default;

@import "partials/icons";

.#{$cssScope}[data-layout="dark"] {

    // ---------------------------------------------------------------------------------------------------------- Config

    $rowColor         : rgb(30, 30, 30);
    $rowColorScoped   : rgb(70, 90, 100);
    $fontColor        : rgb(230, 230, 230);
    $borderColor      : rgb(0, 0, 0);
    $borderStyle      : solid;
    $borderWidth      : 1px;

    // --------------------------------------------------------------------------------------------------------- Imports

    @import "partials/sidebar_toggleView";

    // -----------------------------------------------------------------------------------------------------------------

    &.right .toggleView {
        .part {
            float : left;
        }
    }

    &.left .toggleView {
        .part {
            float : right;
        }
    }
}
